@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;700&display=swap');
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;
@import "tailwindcss";

.clip-diagonal {
  width: 200px;
  height: full;
  clip-path: polygon(0 0, 100% 0, 30% 100%, 0 110%);
  background-color: rgba(220, 38, 38, 0.9);
}